# Database
DB_URL=jdbc:postgresql://localhost:5432/tooldb
DB_USERNAME=postgres
DB_PASSWORD=postgres123

# Mail Server
MAIL_USERNAME=bhatkarthik93@gmail.com
MAIL_PASSWORD=ptmkxtdbppsdcavb

# Security
JWT_SECRET=mysecretkeythisisthecode
ADMIN_PASSWORD=admin123