# Environment variables (REAL secrets)
.env

# Local override configs (safe to ignore)
application-local.yml
application-local.properties

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# Build files
target/